
<h1>Admin signin</h1>
<form id="adminSignin-form" action="/admin/signin" method="post">
    <label for="username">Email:</label>
    <input type="text" id="username" name="email" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <div id="error-message" style="display: none; color: red;"></div>
    <input type="submit" value="signin">
</form>