<header class="header">
    <a href="/" class="logo">
        <i class="fas fa-dumbbell"></i>FITME
        
    </a>
    <nav class="navbar">
        <a href="/signin">Sign In</a>
        <a href="/signup" class="btn">Sign Up</a>

        

    </nav>
</header>