<header class="header" id="navbar">
    <a href="/" class="logo">
        <i class="fas fa-dumbbell"></i>FITME
        
    </a>
    
    <nav class="navbar">
        <a href="AboutUs.html">About Us</a>
        <a>|</a>
        <a href="/signin">Sign In</a>
        <a href="/logout" class="btn">Logout</a>

    </nav>
</header>