<div class="bar" id="Search">
    <table class="Selemnt">
        <tr>
            <td>
                <input type="search" id="search1" placeholder="Search" class="search1"
                onkeyup="search()">
            </td>
        </tr>
    </table>
  </div>
<div class="foodList">
    <! -- item1 --> 
    <div class="a1">
      <a href="#"><h3 class="heading">White Rice</h3></a> 
       <img class="food" src="../img/ChineseNewYearInstagramBestMenuPost.png">
       <div class="ginfoc">
          <p>100.0 g</p>
          <i class="fa-solid fa-weight-scale"></i>
          <p>120</p>
          <div class="fire">
          <i class="fa-solid fa-fire"></i>
        </div>
       </div>
       <div class="Rice">
       <P>0g Fat</P>
       <div class="redot"><i class="fa-solid fa-circle"></i></div>
       <P>27g carb</P>
       <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
       <P>3g Protein</P>
       <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
       </div>
    </div>

    <! -- item2 --> 
    <div class="a1">
        <a href="#"><h3 class="heading">grilled chicken breast</h3></a>
        <img class="food" src="../img/grilled_chicken_breast.png">
        <div class="ginfoc">
           <p>100.0 g</p>
           <i class="fa-solid fa-weight-scale"></i>
           <p>156</p>
           <div class="fire">
           <i class="fa-solid fa-fire"></i>
         </div>
        </div>
        <div class="chicken">
        <P>3.57g Fat</P>
        <div class="redot"><i class="fa-solid fa-circle"></i></div>
        <P>0g carb</P>
        <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
        <P>31g Protein</P>
        <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
        </div>
     </div>

     <! -- item3 --> 
    <div class="a1">
        <a href="#"><h3 class="heading">Rib eye Steak</h3></a>
        <img class="food" src="../img/Rib_eye.png">
        <div class="ginfoc">
           <p>100.0 g</p>
           <i class="fa-solid fa-weight-scale"></i>
           <p>271</p>
           <div class="fire">
           <i class="fa-solid fa-fire"></i>
         </div>
        </div>
        <div class="Steak">
        <P>19g Fat</P>
        <div class="redot"><i class="fa-solid fa-circle"></i></div>
        <P>0g carb</P>
        <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
        <P>25g Protein</P>
        <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
        </div>
     </div>

     <! -- item4 --> 
    <div class="a1">
        <a href="#"><h3 class="heading">Whole egg</h3></a>
        <img class="food" src="../img/egg.png">
        <div class="ginfoc">
           <p>1.0 medium size</p>
           <i class="fa-solid fa-weight-scale"></i>
           <p>77</p>
           <div class="fire">
           <i class="fa-solid fa-fire"></i>
         </div>
        </div>
        <div class="egg">
        <P>5g Fat</P>
        <div class="redot"><i class="fa-solid fa-circle"></i></div>
        <P>0g carb</P>
        <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
        <P>8g Protein</P>
        <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
        </div>
     </div>

     <! -- item5 --> 
    <div class="a1">
        <a href="#"><h3 class="heading">fillet fish</h3></a>
        <img class="food" src="../img/fish.png">
        <div class="ginfoc">
           <p>100.0 g</p>
           <i class="fa-solid fa-weight-scale"></i>
           <p>77</p>
           <div class="fire">
           <i class="fa-solid fa-fire"></i>
         </div>
        </div>
        <div class="fish">
        <P>1g Fat</P>
        <div class="redot"><i class="fa-solid fa-circle"></i></div>
        <P>0g carb</P>
        <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
        <P>17g Protein</P>
        <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
        </div>
     </div>

     <! -- item6 --> 
    <div class="a1">
        <a href="#"><h3 class="heading">Boiled Pasta</h3></a>
        <img class="food" src="../img/pasta.png">
        <div class="ginfoc">
           <p>100.0 g</p>
           <i class="fa-solid fa-weight-scale"></i>
           <p>177</p>
           <div class="fire">
           <i class="fa-solid fa-fire"></i>
         </div>
        </div>
        <div class="Pasta">
        <P>1g Fat</P>
        <div class="redot"><i class="fa-solid fa-circle"></i></div>
        <P>36g carb</P>
        <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
        <P>6g Protein</P>
        <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
        </div>
     </div>

     <! -- item7 --> 
     <div class="a1">
         <a href="#"><h3 class="heading">Full-Fat Milk</h3></a>
         <img class="food" src="../img/milk.png">
         <div class="ginfoc">
            <p>250.0 ml</p>
            <i class="fa-solid fa-weight-scale"></i>
            <p>152</p>
            <div class="fire">
            <i class="fa-solid fa-fire"></i>
          </div>
         </div>
         <div class="Milk">
         <P>8g Fat</P>
         <div class="redot"><i class="fa-solid fa-circle"></i></div>
         <P>12g carb</P>
         <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
         <P>8g Protein</P>
         <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
         </div>
      </div>

      <! -- item8 --> 
      <div class="a1">
          <a href="#"><h3 class="heading">Oat</h3></a>
          <img class="food" src="../img/oat.png">
          <div class="ginfoc">
             <p>100.0 g</p>
             <i class="fa-solid fa-weight-scale"></i>
             <p>408</p>
             <div class="fire">
             <i class="fa-solid fa-fire"></i>
           </div>
          </div>
          <div class="Oat">
          <P>9.30g Fat</P>
          <div class="redot"><i class="fa-solid fa-circle"></i></div>
          <P>70.50g carb</P>
          <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
          <P>10.50g Protein</P>
          <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
          </div>
       </div>

       <! -- item9 --> 
      <div class="a1">
          <a href="#"><h3 class="heading">Tuna</h3></a>
          <img class="food" src="../img/tuna.png">
          <div class="ginfoc">
             <p>100.0 g</p>
             <i class="fa-solid fa-weight-scale"></i>
             <p>113</p>
             <div class="fire">
             <i class="fa-solid fa-fire"></i>
           </div>
          </div>
          <div class="Tuna">
          <P>0.50g Fat</P>
          <div class="redot"><i class="fa-solid fa-circle"></i></div>
          <P>0g carb</P>
          <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
          <P>27g Protein</P>
          <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
          </div>
       </div>

       <! -- item10 --> 
      <div class="a1">
          <a href="#"><h3 class="heading">Grilled Salomn</h3></a>
          <img class="food" src="../img/salmon.png">
          <div class="ginfoc">
             <p>100.0 g</p>
             <i class="fa-solid fa-weight-scale"></i>
             <p>200</p>
             <div class="fire">
             <i class="fa-solid fa-fire"></i>
           </div>
          </div>
          <div class="Salomn">
          <P>12.40g Fat</P>
          <div class="redot"><i class="fa-solid fa-circle"></i></div>
          <P>0g carb</P>
          <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
          <P>22.10g Protein</P>
          <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
          </div>
       </div>
    </div>