<div class="container">
    <div class="title">
        <br><br>
        <h2>Legs workout day</h2>
    </div>
    <div class="card">
        <br>
        <h3 class="a">Legs Muscles Group:</h3>
        <h3 class="b">Workout name:</h3>
        <br><br><br>

        <div class="Swork">
            <ul>   
                <a href="#Seated Hip Adduction(inner Thigh)"><h4><li>SeatedHip Adduction(inner Thigh)</h4></li></a>
                <a href="#Seated Hip Abductor (Outer Thigh)"><h4><li>Seated Hip Abductor (Outer Thigh)</h4></li></a>
                <a href="#BULGARIAN SPLIT SQUAT"><h4><li>BULGARIAN SPLIT SQUAT</h4></li></a>    
                <a href="#BARBELL BACK SQUAT"><h4><li>BARBELL BACK SQUAT</h4></li></a>
                <a href="#Seated Leg Curl"><h4><li>Seated Leg Curl</h4></li></a>
                <a href="#Leg Press Calves"><h4><li>Leg Press Calves</h4></li></a>
                <a href="#Leg Press"><h4><li>Leg Press</h4></li></a>
            </ul>
        </div>

        <div class="Gmuscles">
            <ul>
                <h4><li>quads</h4></li>
                <h4><li>hamstrings</h4></li>     
                <h4><li>adductors</h4></li>
                <h4><li>abductors</h4></li>
            </ul>
        </div>
     </div>
     <div class="videos"> 
         <ul>
            <li><p id="Seated Hip Adduction(inner Thigh)">Seated Hip Adduction(inner Thigh)</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/CjAVezAggkI?si=ccVJoieaVMhyQt0y" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br><br>   
                </li>
        
                <li><p id="Seated Hip Abductor (Outer Thigh)">Seated Hip Abductor (Outer Thigh)</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/G_8LItOiZ0Q?si=s1fOGRP5lVfOMpBV" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br><br> 
        
                </li>        

        
                <li><p id="BULGARIAN SPLIT SQUAT">BULGARIAN SPLIT SQUAT</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/SkNsa3eBwLA?si=-4m020H7JGk328W8" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br><br>
                </li>

                <li><p id="BARBELL BACK SQUAT">BARBELL BACK SQUAT</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/aOzrA4FgnM0?si=7N2Frm1na40zqrMS" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <br><br>
                    </li>

                <li><p id="Seated Leg Curl">Seated Leg Curl</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/Orxowest56U?si=sg2OHqQg-ehVolJn" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <br><br>
                </li>

                <li><p id="Leg Press Calves">Leg Press Calves</p>
                    <br>
                    <iframe width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/KxEYX_cuesM?si=e8Rz0fhyNSmTqpvP" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <br><br>
                </li>

                <li><p id="Leg Press">Leg Press</p>
                <br>
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/yZmx_Ac3880?si=1LFnAR4pDylzP1mW" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br><br>
                </li>
        </ul>
   </div>
 </div>