<div class="container">
    <div class="title">
     <br><br>
     <h2>Pull workout day</h2>
     </div>
     <div class="card">
         <br>
         <h3 class="a">Pull Muscles Group:</h3>
         <h3 class="b">Workout name:</h3>
         <br><br><br>

         <div class="Swork">
             <ul>   
         <a href="#BENT-OVER BARBELL ROW"><h4><li>BENT-OVER BARBELL ROW</h4></li></a>    
         <a href="#CABLE LAT PULLOVER"><h4><li>CABLE LAT PULLOVER</h4></li></a>
         <a href="#SINGLE ARM DUMBBELL ROW"><h4><li>SINGLE ARM DUMBBELL ROW</h4></li></a>
         <a href="#INCLINE DUMBBELL CURL"><h4><li>INCLINE DUMBBELL CURL</h4></li></a>
         <a href="#SEATED CABLE ROW"><h4><li>SEATED CABLE ROW</h4></li></a>
         <a href="#Forearm Workout"><h4><li>Forearm  Workout</h4></li></a>
         <a href="#EZ Bar Curls"><h4><li>EZ Bar Curls</h4></li></a>
     </ul>
          </div>
          <div class="Gmuscles">
          <ul>
           <h4><li>Back</h4></li>
           <h4><li>Biceps</h4></li>     
           <h4><li>forearms</h4></li>
         </ul>
     </div>
     </div>
     <div class="videos"> 
         <ul>

      
         <li><p id="BENT-OVER BARBELL ROW">BENT-OVER BARBELL ROW</p>
     <br>
     <iframe width="560"
      height="315"
       src="https://www.youtube.com/embed/FWJR5Ve8bnQ?si=svZq_MpSnCS06GaE" 
       title="YouTube video player" 
       frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
       referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br>
     </li>

     <li><p id="CABLE LAT PULLOVER">CABLE LAT PULLOVER</p>
     <br>
     <iframe width="560"
      height="315"
      src="https://www.youtube.com/embed/32auHIqgEoM?si=VZDZ3L7CDDtfyDoA" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br><br>
         </li>

     <li><p id="SINGLE ARM DUMBBELL ROW">SINGLE ARM DUMBBELL ROW</p>
       <br>
       <iframe width="560" 
       height="315" 
       src="https://www.youtube.com/embed/dFzUjzfih7k?si=su-8GersGaYqjfMG" 
       title="YouTube video player" 
       frameborder="0" 
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
       referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br><br>
     </li>

     <li><p id="INCLINE DUMBBELL CURL">INCLINE DUMBBELL CURL</p>
         <br>
         <iframe width="560"
          height="315" 
          src="https://www.youtube.com/embed/HhHHBj3qTJ4?si=yLRo74wXuTRJozGe" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br><br>
     </li>

     <li><p id="SEATED CABLE ROW">SEATED CABLE ROW</p>
     <br>
     <iframe width="560" height="315" 
     src="https://www.youtube.com/embed/PzsMitRdI_8?si=3uQCa0n5oRtErLmk"
      title="YouTube video player" 
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br>
     </li>

     <li><p id="Forearm Workout">Forearm Workout</p>
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ypfd1kaI1AU?si=S3ddF8GiHVcspSlL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br><br>   
     </li>

     <li><p id="EZ Bar Curls">EZ Bar Curls</p>
     <br>
     <iframe width="560" 
     height="315" 
     src="https://www.youtube.com/embed/6LrOTcr595A?si=NGdzrM48mNgXAQFm" 
     title="YouTube video player" 
     frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br> 

     </li>


   </ul>
   </div>
 </div>