<div class="container">
    <div class="title">
     <br><br>
     <h2>Push workout day</h2>
     </div>
     <div class="card">
         <br>
         <h3 class="a">Push Muscles Group:</h3>
         <h3 class="b">Workout name:</h3>
         <br><br><br>

         <div class="Swork">
             <ul>   
         <a href="#CHEST PRESS"><h4><li>CHEST PRESS</h4></li></a>    
         <a href="#OVERHEAD PRESS"><h4><li>OVERHEAD PRESS</h4></li></a>
         <a href="#INCLINE DUMBBELL BENCH PRESS"><h4><li>INCLINE DUMBBELL BENCH PRESS</h4></li></a>
         <a href="#DUMBBELL SHOULDER PRESS"><h4><li>DUMBBELL SHOULDER PRESS</h4></li></a>
         <a href="#DUMBBELL LATERAL RAISE"><h4><li>DUMBBELL LATERAL RAISE</h4></li></a>
         <a href="#TRICEP PUSHDOWN"><h4><li>TRICEP PUSHDOWN</h4></li></a>
         <a href="#PUSH-UP"><h4><li>PUSH-UP</h4></li></a>
     </ul>
          </div>
          <div class="Gmuscles">
          <ul>
           <h4><li>chest</h4></li>
           <h4><li>shoulders</h4></li>     
           <h4><li>triceps</h4></li>
         </ul>
     </div>
     </div>
     <div class="videos"> 
         <ul>

      
         <li><p id="CHEST PRESS">CHEST PRESS</p>
     <br>
          <iframe width="560" height="315" 
          src="https://www.youtube.com/embed/lWFknlOTbyM?si=BiuxDwaG9AAj93Nt" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br>
     </li>

     <li><p id="OVERHEAD PRESS">OVERHEAD PRESS</p>
     <br>
         <iframe width="560" height="315"
          src="https://www.youtube.com/embed/KP1sYz2VICk?si=ZDOcaF5qX0WkSHtj
          " title="YouTube video player" 
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br><br>
         </li>

     <li><p id="INCLINE DUMBBELL BENCH PRESS">INCLINE DUMBBELL BENCH PRESS</p>
       <br>
       <iframe width="560" height="315"
        src="https://www.youtube.com/embed/IP4oeKh1Sd4?si=zYm0p_qRsc6B8_Kt"
        title="YouTube video player"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br><br>
     </li>

     <li><p id="DUMBBELL SHOULDER PRESS">DUMBBELL SHOULDER PRESS</p>
         <br>
         <iframe width="560" height="315"
          src="https://www.youtube.com/embed/rO_iEImwHyo?si=5J_s2cweGCphdxQ_" 
          title="YouTube video player" 
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br><br>
     </li>

     <li><p id="DUMBBELL LATERAL RAISE">DUMBBELL LATERAL RAISE</p>
     <br>
     <iframe width="560" height="315" 
     src="https://www.youtube.com/embed/PzsMitRdI_8?si=3uQCa0n5oRtErLmk"
      title="YouTube video player" 
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br>
     </li>

     <li><p id="TRICEP PUSHDOWN">TRICEP PUSHDOWN</p>
     <br>
     <iframe width="560" height="315"
      src="https://www.youtube.com/embed/-zLyUAo1gMw?si=n01TiMArwEroiFOR" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br><br>   
     </li>

     <li><p id="PUSH-UP">PUSH-UP</p>
     <br>
     <iframe width="560" height="315" 
     src="https://www.youtube.com/embed/F0mFvxZelaE?si=wvPEWOFXRlldqHNT" 
     title="YouTube video player" 
     frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br><br> 

     </li>


   </ul>
   </div>
 </div>