<section class="home">
    <div class="max-Width">
        <div class="home-content">
            <h3>IT'S ALL ABOUT WHAT<br> YOU CAN ACHIEVE</h3>

            <p>Empower your self to make the changes you need to make, testing</p>
            

            <a href="/dashboard"><button class="btn">Get Started</button></a>
        </div>
       
    </div>
</section>