<div class="wrapper">
    <h2>Reset Password</h2>
    <form id="reset-form" action="/reset" method="put">
        <div class="input-box">

            <i class='bx bxs-envelope'></i>
            <input type="email" name="email" placeholder="Your email" required>     
        </div><br>

        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>  
            <input type="password" name="password" placeholder="Enter new password" required>    
        </div><br>

        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>  
            <input type="password" name="confirmPassword" placeholder="confirm new password" required>    
        </div><br><br><br>

        <button type="submit" class="btn">Reset Password</button>
        <div id="error-message" style="display: none; color: red;"></div>
    </form>
</div>