* {

margin-top: auto;
text-decoration: none;
box-sizing: border-box;
transition: 0.2s linear;
text-transform: capitalize;
font-family: "poppins", sans-serif;
}

body {
min-height: 250vh;
background-image: linear-gradient(rgb(224, 218, 218), lightblue);
}
.foodList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    top:130px;

}
.search1{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    text-align: center;
    outline: none;
    border-radius:30px;
}
.search1:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .search1:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }

.a1{
    position: relative;
    display: block;
    top:130px;
    margin:1%;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
    height: 250px;
    width: 500px;
}

.a1 .heading{ 
    position: absolute;  
    left: 18%; 
    top: 15px;        
    color: black;
    font-size:5 rem;
    font-family:"Roboto"; 
    font-size: 30px;     
}
.a1 .ginfoc p{
    position: relative;
    top: 80px;
    right: 20%;
    display: inline;
    color: black;
    font-size:5 rem;
    font-family:"Roboto";
    padding: 20px;  
}

.a1 .ginfoc i{
    position: relative;
    top: 80px;
    right: 20%;
}
.a1 .ginfoc .fire{
    position: absolute;
    top: 1px;
    left: 50%;
    color: red;
}
/*------------------------------*/
.a1 .item p{
    position: relative;
    top: 180px;
    display: inline;
    color: black;
    font-size:5 rem;
    font-family:"Roboto";
    padding: 10px; 
}
.a1 .item i{
    display: inline;
    position: relative;
    top: 181px;
}
.a1 .item .redot{
    position: relative;
    display: inline;
    
    color: red;
    font-size: 15px;
}
.a1 .item .yellowDot{
    position: relative;
    display: inline;
    color: rgb(245, 245, 55);
    font-size: 15px;
}
.a1 .item .greenDot{
    position: relative;
    display: inline;
    color:greenyellow;
    font-size: 15px;
}
.a1 .food{
    position: absolute;
    top: 20px;
    right:2%;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 150px;
}

#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width:90%;
    max-height: 90%;
    object-fit: cover;
    object-position:center ;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

    