*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
    font-family: "poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0; 
    justify-content: center;
    align-items: center;
    background:url('../img/GiveUp2.png');
    background-size: cover; 
    background-position: center;
    min-height: 100vh;                     
}

.btn{
    margin-top: 2rem;
    width: 150px;
    padding: 12px;
    color: #fff;
    background: tomato;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background: rgba(212, 48, 48, 0.76);
    transition: 0.4s;

}
section{
    padding: 150px 0 50px 0;
}

.home{
display: flex;


}
.home .max-Width{
width: 100%;
display: flex;
top: 140px;
}

.home .home-content{
width: 50%;
padding: 2rem;    
}
.home h3{
color: #fff;
margin-top: 6rem;
font-size:5 rem;
font-family: "Roboto"; 
font-size: 40px; 

}
.home p{
color: rgb(194, 191, 191);
margin-top: 1rem;
font-size: 15px;

}



.home .home-image{
width: 50%;

}
.home .home-content img{
width: 100%;
height: 100%;

}